md-input-container(md-no-float,ng-class="searchCtl.class")
    md-icon
        ng-md-icon(icon="search")
    input(placeholder="{{searchCtl.title}}",  ng-model="searchCtl.context[searchCtl.ngModelField]")
md-divider