.logo {
    // width: 100%;
    height: 64px;
    min-height: 64px!important;
    line-height: 64px;
    margin: 5px;
    padding-left: 64px;
    background: transparent url("./logo.jpg") no-repeat top left;
    background-size: contain;
    &.center {
        background-position: top center;
        height: 150px;
    }
}

.gridster .gridster-item {
    // -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    // -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    // box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    // color: #004756;
    // background: #ffffff;
    // padding: 10px;
    overflow: hidden;
}