server/node_modules
public/node_modules
public/built
public/typings
public/src/directives/angular-schema-form-material
!public/src/directives/angular-schema-form-material/material-decorator.js
typings