div(aria-label="dialogFormCtl.actionModel.title")
    md-toolbar
        div.md-toolbar-tools(fx-toolbar,items="dialogFormCtl.toolbars")
    md-dialog-content(flex,md-padding)
        form(fx-form-action,key="{{dialogFormCtl.key}}",ng-model="dialogFormCtl.formData",layout="column",name="dialogForm",ng-submit="dialogFormCtl.doSubmit(dialogForm)")
    md-dialog-actions(layout="rows")
        md-button(ng-click="dialogFormCtl.doSubmit(dialogForm)")
            md-icon
                ng-md-icon(icon="login")
            span {{dialogFormCtl.actionModel.title}}