md-content(flex,layout="column")
    md-content(flex)
    md-divider
    div(layout="row",layout-align="start center")
        md-button(ng-click="sideRightCtl.doExit($event)",flex)
            md-tooltip(md-direction="top") 退出
            md-icon
                ng-md-icon(icon="settings_power")