md-content(flex,layout="column")
    md-sidenav.sidenav-80.md-sidenav-right(md-component-id="executeCmdRight",layout="column",md-disable-backdrop,md-whiteframe="4",md-is-open="pageCtl.isOpen")
        md-content(flex,layout="column")
            md-toolbar.md-table-toolbar.md-hue-2(layout="row")
                div.md-toolbar-tools
                    span(flex) 结果
                    md-button.md-icon-button(ng-click="pageCtl.showSivenav()")
                        md-icon
                            ng-md-icon(icon="arrow_forward")
            md-divider
            div(fx-form-action,flex,key="resultAction",ng-model="pageCtl.executeResult")
    md-toolbar.md-table-toolbar.md-hue-2(md-style-color1="{'color': 'primary.A100'}")
        div.md-toolbar-tools(fx-toolbar,layout="row",items="pageCtl.toolbars",ctls="pageCtl")
    md-divider
    md-content(flex)
        form.md-padding(layout="column",name="executeForm",flex)
            div(fx-form-action,key="{{pageCtl.key}}",ng-model="pageCtl.formData",ng-disabled="pageCtl.isBusy")
    md-divider
    md-button(ng-click="pageCtl.doSubmit($event,executeForm)",ng-disabled="pageCtl.isBusy")
        md-icon
            ng-md-icon(icon="apple-keyboard-command")
        span 执行命令