md-content.md-padding(layout-xs="column",layout="row")
    div(flex-xs flex-gt-xs="50" layout="column")
        md-card(md-theme="dark-blue",md-theme-watch,ng-repeat="crawler in ttyCtl.crawlers")
            md-card-title
                md-card-title-text
                    span.md-headline {{crawler.hostname}}
                    span.md-subhead {{crawler.pid}}
                md-card-title-media
                    div.md-media-sm.card-media
            md-card-content
                md-list
                    md-list-item(ng-disabled="true")
                        p IP:
                        p.md-secondary
                            span(ng-repeat="ip in crawler.ip") {{ip}}
                    md-list-item(ng-disabled="true")
                        p 是否开始:
                        md-checkbox.md-secondary(ng-model="crawler.downloader.isStart",ng-disabled="true")
                    md-list-item(ng-disabled="true")
                        p 当前爬取配置文件KEY:
                        p.md-secondary(ng-bind="crawler.downloader.key")
            md-card-actions(layout="row",layout-align="end center",fx-toolbar,ng-model="crawler",items="ttyCtl.itemToolbar",ctls="ttyCtl")