<div class="form-group schema-form-chips {{form.htmlClass}}" sf-field-model="sf-new-array" sf-new-array md-no-float="true" style="margin:1px 0;">
    <label ng-show="form.readonly">{{::form.title}}</label>
    <md-chips ng-model="modelArray" sf-changed="form" schema-validate="form" readonly="form.readonly" class="no-errors" placeholder="{{::form.title}}">
        <md-chip-template>
            <strong ng-if="!form.template">{{$chip}}</strong>
        </md-chip-template>
    </md-chips>
    <md-input-container class="md-block no-errors" style="margin-top:0;" md-is-error="ngModel.$error && ngModel.$invalid && ngModel.$dirty">
        <div sf-message ng-message ng-class="{'fx-invalid':ngModel.$invalid && ngModel.$dirty}"></div>
        <div class="hint md-char-counter" ng-if="form.showHints" ng-bind="form.description"></div>
    </md-input-container>
</div>