<md-input-container class="form-group schema-form-chips {{form.htmlClass}}"
                    sf-field-model="sf-new-array"
                    sf-new-array
                    md-no-float="true"
                    md-is-error="ngModel.$error && ngModel.$invalid">
    <md-chips sf-field-model
              schema-form-array-items
              readonly="form.readonly"
              class="no-errors"
              name="{{::form.key|sfCamelKey}}"
              placeholder="{{::form.title}}">
        <md-chip-template>
            <!-- should include an optional template from form.template -->
            <strong ng-if="!form.template">{{$chip}}</strong>
        </md-chip-template>
    </md-chips>
    <div class="errors" ng-model="modelArray" schema-validate="form" ng-messages="ngModel.$error" aria-live="assertive">
        <div sf-message ng-message></div>
    </div>
    <div class="hint md-char-counter" ng-if="form.showHints" ng-bind="form.description"></div>
</md-input-container>
