<div class="schema-form-array {{form.htmlClass}}"
     sf-field-model="sf-new-array"
     sf-new-array>

    <md-toolbar class="md-warn">
        <div class="md-toolbar-tools">
            <h2 flex>{{ ::form.title }}</h2>
            <md-button ng-hide="form.readonly || form.add === null"
                       ng-click="appendToArray()"
                       class="md-icon-button {{ form.style.add || 'btn-default' }}">
                <md-tooltip>
                    新增
                </md-tooltip>
                <md-icon>
                    <ng-md-icon icon="add_circle_outline"></ng-md-icon>
                </md-icon>
            </md-button>
            <md-button ng-hide="form.readonly || form.del === null"
                       ng-click="deleteFromArray(form.selectedIndex)"
                       class="md-icon-button {{ form.style.del || 'btn-default' }}">
                <md-tooltip>
                    删除
                </md-tooltip>
                <md-icon>
                    <ng-md-icon icon="close-circle-outline"></ng-md-icon>
                </md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-tabs md-selected="form.selectedIndex"
             md-dynamic-height
             md-border-bottom
             md-autoselect>
        <md-tab ng-repeat="item in modelArray track by $index"
                ng-disabled="item.disabled"
                label="{{ (form.title + ($index+1)) || item.title}}">
            <div class="tab{{$index%4}}" layout-padding schema-form-array-items ng-init="copyWithIndex($index)">
            </div>
        </md-tab>
    </md-tabs>
</div>
